<div class="side_bar_header">
  <div class = "header_name">
    <a href = "#">太郎</a>
  </div>
  <div class = "create_room">
    <a href = "#">チャット作成</a>
  </div>
</div>

<div class="rooms">
  <div class = "room">
    <a href = "#">room1</a>
  </div>
  <div class = "room">
    <a href = "#">room2</a>
  </div>
</div>