<div class="side_bar_header">
  <div class = "user">
    <a href = "#">太郎</a>
  </div>
  <div class = "create">
    <a href = "#">チャット作成</a>
  </div>
</div>

<div class="side_bar_main">
  <div class = "room">
    <a href = "#">room1</a>
  </div>
  <div class = "room">
    <a href = "#">room2</a>
  </div>
</div>